################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleCommon/bin/Debug
/.vs/ConsoleCommon/v14
